<h2>Compose</h2>
<form method="POST">
    <div>
        <label>Subject:</label>
        <input type="text" name="subject" placeholder="Enter Subject">
    </div>
    <div>
        <label>To User</label>
        <input type="text" name="reciever" placeholder="Enter User name">
    </div>
    <div>
        <label>Message</label>
        <input type="text" name="messageContent" placeholder="message">
    </div>
    <button type="submit">Send</button>
</form>